@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #ececec;
}
.grid-container-1 {
  margin: -19px -19px -19px -19px;
  display: grid;
  grid-template-columns: 21.7% 56.6% 21.7%;
  grid-template-rows: auto;
  grid-row-gap: 1em;
}
.grid-container-1-newsletter {
  margin: -19px -19px -19px -19px;
  display: grid;
  grid-template-columns: 35% 39% 31%;
  grid-template-rows: auto;
  grid-row-gap: 1em;
}
.header {
  padding: 40px 50px 20px 10px;
  margin: -19px -19px 0px -19px;
  width: 100%;
  background: #142d4c;
  position: fixed;
}
.main-header a{
  padding-left: 200px;
  margin: 0 0px;
  display:inline;
  float:left;
  text-align: left;
  text-decoration: none;
  letter-spacing: 5px;
  font-family: poppins;
  font-size: 30px;
  color: #fff;
}
.header .alt-header {
  text-align: right;
  display:inline;
  float:right;
}
.header a {
  padding-right: 200px;
  text-decoration: none;
  font-family: poppins;
  font-size: 30px;
  color: #fff;
}
.grid-item-1 {
  background-position: center;
  background-size: auto;
  background-color: #ececec;
  padding:20px;
  margin: -19px -19px 0px -19px;
  height: 100px;
  grid-column-start: 1;
  grid-column-end: 4;
}
.bar {
  background-image: url(../images/dinosaur.jpg);
  background-position: center;
  background-size: auto;
  margin: -49px 70px 0px 80px;
  background-color: #25242A;
  grid-column-start: 1;
  grid-column-end: 2;
}
.bar-newsletter {
  background-image: url(../images/dinosaur.jpg);
  background-position: center;
  background-size: auto;
  height: 774px;
  margin: -49px 30px -19px 560px;
  background-color: #25242A;
  grid-column-start: 1;
  grid-column-end: 2;
}
.box {
  margin: 100px 20px 300px 20px;
  padding: 40px 30px 10px 30px;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  border: 2px solid #262626;
}
.box form {
  text-align: center;
}
.box #name,#email {
  width: 70%;
}
.box #submit {
  margin: 4px 2px;
  padding: 0px 20px;
  border-radius: 3px;
  background-color: #142d4c;
  border: solid 10px #142d4c;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.grid-item-2 {
  padding: 0px;
  font-size: 14px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
}
.newsletter {
  padding: 20px;
  background-color: #9fd3c7;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-row-gap: 1em;
}
.grid-container-2 p {
  font-size: 15px;
}
.grid-container-2 h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-item-3a {
  background-color: #ececec;
  padding: 0px;
  font-size: 14x;
  text-align: justify;
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-item-3b {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  font-size: 14px;
  text-align: justify;
  grid-column-start: 2;
  grid-column-end: 3;
}
.buttons {
  text-align: right;
}
.button-1 {
  background-color: #142d4c;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:80px;
  border-radius: 5%;
}
.button-2 {
  background-color: #142d4c;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:80px;
  border-radius: 5%;
}
.technical-skills {
  float: left;
  text-align: justify;
  padding-bottom: 100px;
}
.technical-skills p{
  font-size: 15px;
  text-align: justify;
}
.coursework {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-start: 2;
  grid-column-end: 3;
}
.coursework h2 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
.coursework ul {
  margin: -19px -19px 19px -19px;
  list-style-type: square;
  text-align: justify;
  font-size: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.icon1 {
  display: flex;
  position: relative;
  margin: 20px 20px 20px 395px;
}
.icon2 {
  display: flex;
  position: relative;
  margin: 20px 20px 20px 395px;
}
#contact {
  display: flex;
  position: relative;
  margin-left: 46%;
}
.contact {
  margin-top: -78px;
  margin-bottom: 60px;
  text-align: justify;
}
.contact p{
  margin: 20px 50px 23px 425px;
  display: flex;
  position: relative;
  font-size: 15px;
}
.icons {
  text-align: center;
  word-spacing: 15px;
}
#center-wording {
  margin-top: -40px;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 8px;
  word-spacing: 14px;
}
.grid-item-4 {
  background-color: #385170;
  padding: 50px;
  margin: -19px -19px -19px -19px;
  height: 40px;
  text-align: center;
  font-size: 13px;
  color: #ececec;
  grid-column-start: 1;
  grid-column-end: 4;
}
.top {
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width:80px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
}
